{% extends "partes/base.html" %}

{% load static %}
{% block contenido %}
    <div class="container">
        <form action="" class="agenda mx-auto p-5">
            <select name="" id="" class="form-control">
                <option value="1">Centro médico</option>
            </select>
            <br>
            <select name="" id="" class="form-control">
                <option value="1">Especialidad</option>
            </select>
            <br>
            <select name="" id="" class="form-control">
                <option value="1">Especialista</option>
            </select>
            <br>
            <input type="date" name="" id="" value="Fecha Disponible" class="form-control">
            <br>
            <select name="" id="" class="form-control">
                <option value="1">Horas disponibles</option>
            </select>
            <br>
            <input type="submit" value="Guardar" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
