{% extends "partes/base.html" %}

{% load static %}
{% block contenido %}
    <div class="container">
        <form method="get" action="{% url 'agendas' %}">
            <select name="centro_medico" id="centro_medico" class="form-control">
                <option value="0">-- Todos los centros médicos --</option>
                {% for centro in centros %}
                    <option value="{{ centro.id }}">
                        {{ centro.nombre }}
                    </option>
                {% endfor %}
            </select><br>
            <select name="especialidad" id="especialidad" class="form-control">
                <option value="0">-- Todas las especialidades --</option>
                {% for especialidad in especialidades %}
                    <option value="{{ especialidad.id }}">
                        {{ especialidad.especialidad }}
                    </option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>
        <br>
    </div>

    <div class="container mt-5">
        <div class="tabla">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Centro médico</th>
                        <th>Especialidad</th>
                        <th>Especialista</th>
                        <th>Fecha disponible</th>
                        <th>Horario disponible</th>
                        <th>Ver agenda</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agenda in agendas %}
                        <tr>
                            <td>{{ agenda.centro_medico.nombre }}</td>
                            <td>{{ agenda.especialista.especialidad }}</td>
                            <td>{{ agenda.especialista.nombre }}</td>
                            <td>{{ agenda.fecha_disponible}}</td>
                            <td>{{ agenda.hora_disponible|date:"H:i" }}</td>
                            <td><a href="#">Agendar</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No hay agendas disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Anterior</a>
              </li>
              {% for num in page_obj.paginator.page_range %}
                  <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
              {% endfor %}
              <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Siguiente</a>
              </li>
            </ul>
        </nav>
    </div>

    <script>
        // Obtén la URL actual
        const url = new URL(window.location.href);

        // Usa URLSearchParams para obtener los parámetros de la URL
        const params = new URLSearchParams(url.search);
        const centro_medico = params.get('centro_medico');
        const especialidad = params.get('especialidad');

        // Obtén el elemento select
        const select_centro_medico = document.getElementById('centro_medico');
        const select_especialidad= document.getElementById('especialidad');

        if(centro_medico != null){
            select_centro_medico.value = centro_medico;
        }

        if(especialidad != null){
            select_especialidad.value = especialidad;
        }
    </script>
{% endblock %}
