{% extends "partes/base.html" %}

{% load static %}
{% block contenido %}
    <div class="container">
        <div class="row">

            {% if message %}
                <h1>Error: {{message}}</h1>
            {% else %}
                <div class="col-12 text-center cita p-5">
                    <h1>{{agenda.especialista.especialidad}}</h1>
                    <p>{{agenda.centro_medico}}</p>
                    <p>{{agenda.especialista.nombre}}</p>
                    <p>Fecha: {{agenda.fecha_disponible}} - Hora: {{agenda.hora_disponible|date:"H:i"}}</p>
                    <input type="submit" value="Confirmar Cita" class="btn btn-primary">
                </div>
            {% endif %}          
        </div>
    </div>
{% endblock %}