{% extends "partes/base.html" %}

{% load static %}
{% block contenido %}
    <div class="container">
        <h1 class="text-center">Registro de Usuario</h1>
        <div class="login m-5 mx-auto p-5">
            {% if mensaje %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="registro">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}