<div>
    <div class="row">
        <div class="col-12">
            <h2>LOGO</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Dirección bla bla bla</p>
            <p>Ciudad</p>
        </div>
        <div class="col-6">
            <ul class="menu-footer">
                <li class="nav-item">
                  <a class="nav-link list-group-item" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list-group-item" href="{% url 'contacto' %}">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link list-group-item" href="{% url 'agenda_nueva' %}">Nueva agenda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'agendas' %}">Agendas</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>Redes sociales</p>
        </div>
        <div class="col-6">
            <p>Product name @ 2024</p>
        </div>
    </div>

    <hr>

    <div class="m-auto">
        Privacy | Terms | Legal
    </div>
</div>